[Desktop Entry]
Name=NoteCode
Exec=/usr/bin/NoteCode %f
Icon=NoteCode
Type=Application
Terminal=false
Categories=GTK;Utility;TextEditor;
MimeType=text/plain